# **ETL for CourseData.db**
A step-by-step walkthrough

## Preliminaries: Extensions, Imports, and Database Connections

In [1]:
%load_ext sql
import pandas as pd
import sqlite3

In [2]:
%sql sqlite:///CourseData.db
conn = sqlite3.connect('CourseData.db')

## 1. Create Tables from ERD

In [3]:
%%sql

-- Courses table
DROP TABLE IF EXISTS COURSES;
CREATE TABLE COURSES (
    CourseID INTEGER PRIMARY KEY,
    ProgramCode TEXT NOT NULL,
    CatalogCode TEXT NOT NULL
);

-- Instructors table
DROP TABLE IF EXISTS INSTRUCTORS;
CREATE TABLE INSTRUCTORS (
    InstructorID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);
CREATE INDEX ix_instructors_name on INSTRUCTORS(Name);

-- Course Offerings table
DROP TABLE IF EXISTS COURSE_OFFERINGS;
CREATE TABLE COURSE_OFFERINGS (
    CourseOfferingID INTEGER PRIMARY KEY,
    CourseID INTEGER,
    CatalogID TEXT NOT NULL,
    Term TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    Section TEXT NOT NULL,
    Credits REAL,
    Title TEXT NOT NULL,
    Timecodes TEXT,
    PrimaryInstructorID INTEGER,
    Instructors TEXT,
    Capacity INTEGER NOT NULL,
    Actual INTEGER NOT NULL,
    Remaining INTEGER NOT NULL,
    FOREIGN KEY (CourseID) REFERENCES CATALOG_COURSES(CourseID),
    FOREIGN KEY (PrimaryInstructorID) REFERENCES INSTRUCTORS(InstructorID)
);
CREATE INDEX ix_course_offerings_alt_key on COURSE_OFFERINGS(Term,CatalogID,Section);

-- Locations table
DROP TABLE IF EXISTS LOCATIONS;
CREATE TABLE LOCATIONS (
    LocationID INTEGER PRIMARY KEY,
    LocationCode TEXT NOT NULL
);

-- Course Meetings table
DROP TABLE IF EXISTS COURSE_MEETINGS;
CREATE TABLE COURSE_MEETINGS (
    CourseMeetingID INTEGER PRIMARY KEY,
    CourseOfferingID INTEGER NOT NULL,
    LocationID INTEGER NOT NULL,
    StartDateTime TEXT NOT NULL,
    EndDateTime TEXT NOT NULL,
    FOREIGN KEY (CourseOfferingID) REFERENCES COURSE_OFFERINGS(CourseOfferingID),
    FOREIGN KEY (LocationID) REFERENCES LOCATIONS(LocationID)
);

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## 2. Extract data from CSV files
_The following code uses Python to automate the dirty work that you might do in `sqlite3`._

In [4]:
# Course Offering and Course Meeting Data
terms = [   'Fall2014', 'Winter2015', 'Spring2015', 'Summer2015',
            'Fall2015', 'Winter2016', 'Spring2016', 'Summer2016',
            'Fall2016', 'Winter2017', 'Spring2017', 'SpringBreak2017', 'Summer2017',
            'Fall2017', 'Winter2018','Spring2018','Summer2018',
            'Fall2018', 'Winter2019','Spring2019','SummerI2019','SummerII2019','Summer2019',
            'Fall2019', 'Winter2020','Spring2020','Summer2020',
            'Fall2020', 'Winter2021','Spring2021','Summer2021',
            'Fall2021', 'Winter2022','Spring2022','Summer2022',
            'Fall2022'
        ]

for term in terms:
    filepath = 'SourceData/'+term+'/courses.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_OFFERINGS',conn,if_exists='append',index=False) 
    
    filepath = 'SourceData/'+term+'/course_meetings.csv'
    data = pd.read_csv(filepath)
    data.to_sql('IMPORT_COURSE_MEETINGS',conn,if_exists='append',index=False)

In [5]:
%%sql
-- Record Counts for Course Offerings
SELECT 
    (SELECT Count(*) FROM IMPORT_COURSE_OFFERINGS) as 'RawCount',
    (SELECT Count(*) FROM (SELECT DISTINCT * FROM IMPORT_COURSE_OFFERINGS)) as 'DistinctCount';

 * sqlite:///CourseData.db
Done.

[(28971, 28971)]

In [6]:
%%sql 
-- Record Counts for Course Meetings
SELECT 
    (SELECT Count(*) FROM IMPORT_COURSE_MEETINGS) as 'RawCount',
    (SELECT Count(*) FROM (SELECT DISTINCT * FROM IMPORT_COURSE_MEETINGS)) as 'DistinctCount';

 * sqlite:///CourseData.db
Done.

[(503907, 503819)]

__Note: it looks like there are lots of duplicate course meetings in the course_meetings.csv data. We'll have to take care when loading the COURSE_MEETINGS table.__

In [7]:
%%sql 
SELECT term,crn,location, day, start 
FROM IMPORT_COURSE_MEETINGS
GROUP BY term,crn,location, day, start
HAVING COUNT(*)>1;

 * sqlite:///CourseData.db
Done.

[('Fall2014', 73073, 'MCA 102', 'M', '2014-09-08T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-09-15T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-09-22T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-09-29T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-10-06T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-10-20T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-10-27T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-11-03T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-11-10T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-11-17T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-11-24T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-12-01T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-12-08T18:30:00'),
 ('Fall2014', 73073, 'MCA 102', 'M', '2014-12-15T18:30:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-09-03T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-09-10T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-09-17T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-09-24T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-10-01T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-10-08T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-10-15T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-10-22T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-10-29T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-11-05T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-11-12T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-11-19T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-11-26T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-12-03T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-12-10T17:00:00'),
 ('Fall2014', 73188, 'SON 214', 'W', '2014-12-17T17:00:00'),
 ('Fall2022', 94480, 'ONLINE ', 'M', '2022-12-12T15:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-01-21T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-01-28T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-02-04T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-02-11T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-02-18T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-02-25T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-03-04T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-03-18T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-03-25T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-04-01T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-04-08T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-04-15T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-04-22T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-04-29T17:00:00'),
 ('Spring2015', 32325, 'SON 214', 'W', '2015-05-06T17:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-01-24T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-01-31T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-02-07T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-02-14T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-02-28T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-03-07T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-03-21T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-03-28T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-04-04T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-04-11T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-04-25T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-05-02T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'M', '2022-05-09T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-01-20T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-01-27T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-02-03T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-02-10T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-02-17T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-02-24T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-03-03T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-03-10T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-03-24T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-03-31T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-04-07T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-04-21T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-04-28T11:00:00'),
 ('Spring2022', 35846, 'TBA', 'R', '2022-05-05T11:00:00')]

**After consulting the original `banner.html` files, it appears that the duplicate meeting times are in Banner! Ugh. We'll just filter out the duplicates when populating our tables with data.**

## 3 & 4. Transform and Load Data Into ERD Tables

In [8]:
%%sql
DELETE FROM INSTRUCTORS;

INSERT INTO INSTRUCTORS (Name)
SELECT DISTINCT primary_instructor
FROM import_course_offerings 
WHERE primary_instructor <> 'TBA' AND primary_instructor NOT LIKE '%/%';

 * sqlite:///CourseData.db
0 rows affected.
1570 rows affected.

[]

In [9]:
%%sql
DELETE FROM COURSES;
INSERT INTO COURSES (ProgramCode,CatalogCode)
SELECT DISTINCT substr(catalog_id,1,instr(catalog_id," ")) as program_code, catalog_id as catalog_code
FROM IMPORT_COURSE_OFFERINGS
ORDER BY catalog_code;

 * sqlite:///CourseData.db
0 rows affected.
4063 rows affected.

[]

In [10]:
%%sql
DELETE FROM COURSE_OFFERINGS;

INSERT INTO COURSE_OFFERINGS (CourseID,Term,CRN,CatalogID,Section,Credits,Title,Timecodes,PrimaryInstructorID,Capacity, Actual, Remaining)
SELECT DISTINCT CourseID,term,crn,catalog_id,section,import_course_offerings.credits,title,timecodes,InstructorID,cap,act,rem 
FROM import_course_offerings 
    LEFT JOIN INSTRUCTORS ON (primary_instructor=INSTRUCTORS.Name)
    LEFT JOIN COURSES ON (catalog_id = COURSES.CatalogCode)
;

 * sqlite:///CourseData.db
0 rows affected.
28971 rows affected.

[]

In [11]:
%%sql 
DELETE FROM LOCATIONS;

INSERT INTO LOCATIONS (LocationCode)
SELECT DISTINCT Location 
FROM import_course_meetings
ORDER BY Location

 * sqlite:///CourseData.db
0 rows affected.
247 rows affected.

[]

In [12]:
%%sql
DELETE FROM COURSE_MEETINGS;

INSERT INTO COURSE_MEETINGS (CourseOfferingID,LocationID,StartDateTime,EndDateTime)
SELECT DISTINCT COURSE_OFFERINGS.CourseOfferingID, LocationID,`Start`,`End`
FROM import_course_meetings 
    JOIN COURSE_OFFERINGS USING (Term,CRN)
    LEFT JOIN LOCATIONS ON (import_course_meetings.Location = LOCATIONS.LocationCode);

 * sqlite:///CourseData.db
0 rows affected.
503819 rows affected.

[]

In [13]:
%%sql
SELECT LocationCode, max(Capacity)
FROM COURSE_MEETINGS JOIN COURSE_OFFERINGS USING (CourseOfferingID) JOIN LOCATIONS USING (LocationID)
GROUP BY LocationID
ORDER BY LocationCode;

 * sqlite:///CourseData.db
Done.

[('BCC 200', 35),
 ('BD ', 6),
 ('BH ', 11),
 ('BH BY ARR', 16),
 ('BLM 112', 15),
 ('BLM LL105', 30),
 ('BNW 124', 40),
 ('BNW 127', 38),
 ('BNW 128', 25),
 ('BNW 129B', 30),
 ('BNW 130', 20),
 ('BNW 131', 64),
 ('BNW 133', 25),
 ('BNW 136', 10),
 ('BNW 137', 37),
 ('BNW 138', 37),
 ('BNW 139', 42),
 ('BNW 143', 12),
 ('BNW 144', 15),
 ('BNW 162', 25),
 ('BNW 163', 20),
 ('BNW 166', 35),
 ('BNW 236', 25),
 ('BNW 238A', 16),
 ('BNW 239', 16),
 ('BNW 240', 21),
 ('BNW 245', 16),
 ('BNW 253', 39),
 ('BNW 254', 50),
 ('BNW 254A', 50),
 ('BNW 256', 35),
 ('BNW 261', 16),
 ('BNW 264', 16),
 ('BNW 267', 18),
 ('BNW 269', 17),
 ('BNW 319', 12),
 ('BNW 329', 12),
 ('BNW 332', 32),
 ('BNW 333', 38),
 ('BNW 334', 40),
 ('BNW 335', 41),
 ('BNW 339', 18),
 ('BNW 340', 43),
 ('BNW 341', 48),
 ('BNW 343', 15),
 ('BNW 361', 16),
 ('BNW 362', 16),
 ('BNW 363', 24),
 ('BNW 369', 16),
 ('BNW 469', 35),
 ('BNW GR22', 43),
 ('BPS ', 10),
 ('BW ', 8),
 ('BY ARR ', 35),
 ('BY ARR X', 30),
 ('CMC ', 6),
 ('CMP 313', 27),
 ('CMP 413', 27),
 ('CNS 1', 50),
 ('CNS 10', 35),
 ('CNS 101', 35),
 ('CNS 103', 35),
 ('CNS 104', 35),
 ('CNS 106', 30),
 ('CNS 108', 35),
 ('CNS 15', 36),
 ('CNS 2', 35),
 ('CNS 200', 35),
 ('CNS 202', 35),
 ('CNS 203', 35),
 ('CNS 204', 30),
 ('CNS 206', 30),
 ('CNS 207', 23),
 ('CNS 207A', 15),
 ('CNS 208', 30),
 ('CNS 209', 35),
 ('CNS 301', 32),
 ('CNS 303', 35),
 ('CNS 304', 32),
 ('CNS 305', 35),
 ('CNS 306', 30),
 ('CNS 5', 32),
 ('CNS 6', 35),
 ('CNS 8', 25),
 ('CNS 9', 35),
 ('CONF 104', 30),
 ('CONF 1109A', 25),
 ('DH ', 25),
 ('DLH 107', 25),
 ('DMH 126', 10),
 ('DMH 131', 35),
 ('DMH 148', 38),
 ('DMH 149', 36),
 ('DMH 230', 15),
 ('DMH 231', 35),
 ('DMH 241', 25),
 ('DMH 245', 18),
 ('DMH 330', 20),
 ('DMH 331', 32),
 ('DMH 347', 35),
 ('DMH 348', 35),
 ('DMH 349', 35),
 ('DMH 350', 35),
 ('DSB 104', 32),
 ('DSB 105', 48),
 ('DSB 106', 32),
 ('DSB 107', 35),
 ('DSB 108', 31),
 ('DSB 109', 30),
 ('DSB 110', 28),
 ('DSB 110A', 60),
 ('DSB 110B', 60),
 ('DSB 111', 32),
 ('DSB 112', 42),
 ('DSB 114', 31),
 ('DSB 115', 32),
 ('DSB 2109A', 27),
 ('DSBN 101', 33),
 ('DSBN 105', 32),
 ('DSBN 106', 10),
 ('DSBN 110', 33),
 ('DSBN 111', 33),
 ('DSBN 112', 32),
 ('DSBN 113', 32),
 ('DSBN 115', 25),
 ('DSBN 201', 33),
 ('DSBN 202', 30),
 ('DSBN 204', 34),
 ('DSBN 206', 32),
 ('DSBN 212', 300),
 ('DSBN 215', 33),
 ('DSBN 216', 33),
 ('DSBN 217', 32),
 ('DSBN 218', 30),
 ('DSBN 301', 25),
 ('DSBN 362', 15),
 ('DSBN L03', 33),
 ('DSBN L11', 33),
 ('DW 173', 6),
 ('DW 371', 6),
 ('DW G101', 10),
 ('DW G105', 6),
 ('DW G108', 8),
 ('DW G109', 0),
 ('DW G111', 20),
 ('EGN ', 27),
 ('EGN COMM', 35),
 ('EGN MCGRATH', 35),
 ('FBR ', 27),
 ('FBR 1DR1', 35),
 ('FPS ', 10),
 ('GBMH ', 7),
 ('GNZ AUDI', 100),
 ('GR ', 8),
 ('GRF ', 8),
 ('HSR ', 6),
 ('JGS 25', 35),
 ('JGS LAB-A', 12),
 ('JHE ', 10),
 ('KEL PRES', 28),
 ('LCH ', 10),
 ('LNG 109', 30),
 ('LUDLW ', 8),
 ('LYL 1', 18),
 ('LYL 145', 28),
 ('LYL 2', 35),
 ('LYL 20', 18),
 ('LYL 21', 18),
 ('LYL 22', 18),
 ('LYL 227B', 35),
 ('LYL 8', 24),
 ('MCA 101', 0),
 ('MCA 102', 50),
 ('MCA 107', 48),
 ('MCA 112', 24),
 ('MCA 113', 30),
 ('MCA 202', 60),
 ('MCA 203', 14),
 ('MCA 204', 60),
 ('MCA 206', 60),
 ('MCK 101', 35),
 ('MEDIA 106', 18),
 ('MEDIA 107', 18),
 ('MEDIA 110', 15),
 ('MIL ', 8),
 ('MILY ', 10),
 ('NCRGUA ', 9),
 ('NHD ', 10),
 ('NHS 103', 65),
 ('NHS 103/104', 86),
 ('NHS 104', 60),
 ('NHS 104A', 25),
 ('NHS 201C', 15),
 ('NHS 203', 65),
 ('NHS 204', 71),
 ('NHS 205', 60),
 ('NHS 208', 20),
 ('NHS 210', 49),
 ('NHS 224', 93),
 ('NHS 301', 10),
 ('NHS 308', 60),
 ('NHS 403', 48),
 ('NHS 403A', 20),
 ('NHS 404', 49),
 ('NHS 405', 36),
 ('NHS 405A', 18),
 ('NHS 407', 30),
 ('NHS 410', 42),
 ('NHS 411', 50),
 ('NOR ', 24),
 ('NWG ', 10),
 ('NYS 101', 80),
 ('NYS 106A', 30),
 ('NYS 107C', 35),
 ('NYS 114', 25),
 ('NYS 115', 30),
 ('NYS 218', 15),
 ('ONLINE ', 73),
 ('PTH DESIGN', 10),
 ('PTH MAIN', 50),
 ('QCK SCENE', 12),
 ('RVNA ', 11),
 ('SHC ', 4),
 ('SILV ', 8),
 ('SON ', 10),
 ('SON 118', 20),
 ('SON 124', 35),
 ('SON 203', 91),
 ('SON 209', 12),
 ('SON 212', 21),
 ('SON 214', 45),
 ('SON 217', 40),
 ('SON ANNEX', 10),
 ('STAMH ', 20),
 ('STJ ', 9),
 ('STM ', 8),
 ('STV ', 10),
 ('STW ', 7),
 ('SWH 102', 25),
 ('TBA', 76),
 ('VA ', 10),
 ('WTBRY ', 6),
 ('XVR 13', 25),
 ('XVR 15', 20),
 ('XVR 5', 27),
 ('XVR TV', 20),
 ('YAL ', 9)]

## 5. Integrity Checks

### Domain Integrity
The SQLite data types are pretty limited, so there is not much to see here. A few specific value errors were corrected on import.

### Entity Integrity

In [14]:
%%sql
-- There should be 28971 Course Offerings, and 503819 Course Meetings
SELECT 
    (SELECT Count(*) FROM COURSE_OFFERINGS) as CourseOfferings,
    (SELECT Count(*) FROM COURSE_MEETINGS) as CourseMeetings;

 * sqlite:///CourseData.db
Done.

[(28971, 503819)]

### Relational Integrity

In [19]:
%%sql 
-- A check of COURSE_OFFERINGS --> INSTRUCTORS, COURSE_OFFERINGS --> COURSES
SELECT CourseID,Term,CRN, Section,COURSE_OFFERINGS.CatalogID as CatID, Title,Capacity,Actual,Remaining,substr(Term,-4) as Year
FROM COURSE_OFFERINGS 
    LEFT JOIN INSTRUCTORS ON (COURSE_OFFERINGS.PrimaryInstructorID = INSTRUCTORS.InstructorID)
    LEFT JOIN COURSES USING (CourseID)
WHERE Name like '%Huntley'
ORDER BY Year,Term DESC,CatID,Section;

 * sqlite:///CourseData.db
Done.

[(1997, 'Fall2014', 70369, 'E', 'IS 0100', 'Intro to Information Systems', 25, 26, -1, '2014'),
 (1998, 'Fall2014', 73060, 'A', 'IS 0135', 'Fundamentals of Web Design', 25, 26, -1, '2014'),
 (2005, 'Fall2014', 73061, 'A', 'IS 0320', 'Systems Design and Implementation', 25, 16, 9, '2014'),
 (1997, 'Fall2015', 75231, 'E', 'IS 0100', 'Intro to Information Systems', 29, 28, 1, '2015'),
 (1997, 'Fall2015', 75246, 'F', 'IS 0100', 'Intro to Information Systems', 29, 28, 1, '2015'),
 (1998, 'Fall2015', 76388, 'A', 'IS 0135', 'Fundamentals of Web Design', 25, 21, 4, '2015'),
 (2005, 'Fall2015', 76389, 'A', 'IS 0320', 'Systems Design and Implementation', 25, 13, 12, '2015'),
 (2017, 'Spring2016', 38780, '01', 'IS 0585', 'Contemporary Topics: Information Systems and Data', 20, 15, 5, '2016'),
 (2894, 'Spring2016', 37253, 'B', 'OM 0101', 'Operations Management', 29, 28, 1, '2016'),
 (2894, 'Spring2016', 37254, 'C', 'OM 0101', 'Operations Management', 29, 29, 0, '2016'),
 (1998, 'Fall2016', 78100, '01', 'IS 0135', 'Fundamentals of Web Design', 25, 15, 10, '2016'),
 (2001, 'Fall2016', 77162, '01', 'IS 0240', 'Systems Analysis and Logical Design', 25, 23, 2, '2016'),
 (2019, 'Fall2016', 79098, '01', 'IS 0585C', 'Contemporary Topics: Database Systems for Business Analytics', 20, 15, 5, '2016'),
 (2001, 'Spring2017', 31735, '01', 'IS 0240', 'Systems Analysis and Logical Design', 25, 25, 0, '2017'),
 (2005, 'Spring2017', 32646, '01', 'IS 0320', 'Systems Design and Implementation', 25, 7, 18, '2017'),
 (2010, 'Spring2017', 33077, 'CH', 'IS 0399', 'Independent Study', 0, 2, -2, '2017'),
 (2894, 'Spring2017', 31311, '06', 'OM 0101', 'Operations Management', 29, 28, 1, '2017'),
 (2001, 'Fall2017', 71153, '01', 'IS 0240', 'Systems Analysis and Logical Design', 25, 23, 2, '2017'),
 (2010, 'Fall2017', 73088, 'CH', 'IS 0399', 'Independent Study', 0, 1, -1, '2017'),
 (2012, 'Fall2017', 72913, '01', 'IS 0505', 'Python for Business Analytics', 20, 28, -8, '2017'),
 (2013, 'Fall2017', 72914, '01', 'IS 0510', 'Databases for Business Analytics', 20, 18, 2, '2017'),
 (2001, 'Spring2018', 34644, '01', 'IS 0240', 'Systems Analysis and Logical Design', 25, 22, 3, '2018'),
 (2002, 'Spring2018', 34645, '01', 'IS 0260', 'Database Systems', 25, 24, 1, '2018'),
 (2005, 'Spring2018', 35141, '01', 'IS 0320', 'Systems Design and Implementation', 25, 20, 5, '2018'),
 (2010, 'Spring2018', 36043, 'CH', 'IS 0399', 'Independent Study', 0, 1, -1, '2018'),
 (249, 'Fall2018', 75942, '01', 'BA 0505', 'Python for Business Analytics', 20, 27, -7, '2018'),
 (2894, 'Fall2018', 74215, '01', 'OM 0101', 'Operations Management', 25, 24, 1, '2018'),
 (2894, 'Fall2018', 74216, '02', 'OM 0101', 'Operations Management', 25, 25, 0, '2018'),
 (250, 'Spring2019', 39006, '01', 'BA 0510', 'Databases for Business Analytics', 32, 34, -2, '2019'),
 (2894, 'Spring2019', 37200, '01', 'OM 0101', 'Operations Management', 25, 26, -1, '2019'),
 (2894, 'Spring2019', 37201, '02', 'OM 0101', 'Operations Management', 25, 27, -2, '2019'),
 (248, 'Fall2019', 98400, '01', 'BA 0500', 'Business Analytics', 20, 18, 2, '2019'),
 (2020, 'Fall2019', 98847, 'CH', 'IS 0598', 'Independent Study in Information Systems and Operations Management', 1, 1, 0, '2019'),
 (2894, 'Fall2019', 97198, '01', 'OM 0101', 'Operations Management', 27, 26, 1, '2019'),
 (2894, 'Fall2019', 97199, '02', 'OM 0101', 'Operations Management', 27, 27, 0, '2019'),
 (247, 'Summer2020', 50295, 'OL1', 'BA 0405', 'Python Fundamentals', 25, 20, 5, '2020'),
 (250, 'Spring2020', 35311, '01', 'BA 0510', 'Databases for Business Analytics', 20, 7, 13, '2020'),
 (250, 'Spring2020', 35781, '02', 'BA 0510', 'Databases for Business Analytics', 20, 21, -1, '2020'),
 (486, 'Spring2020', 35980, '01', 'BU 0591', 'Business Practicum', 2, 2, 0, '2020'),
 (2009, 'Spring2020', 35965, '01', 'IS 0397', 'Seminar in Information Systems', 10, 2, 8, '2020'),
 (2020, 'Spring2020', 35949, 'CH', 'IS 0598', 'Independent Study in Information Systems and Operations Management', 5, 3, 2, '2020'),
 (499, 'Fall2020', 94938, '01', 'BUAN 6500', 'Business Analytics', 30, 26, 4, '2020'),
 (499, 'Fall2020', 94939, 'OL1', 'BUAN 6500', 'Business Analytics', 30, 22, 8, '2020'),
 (497, 'Summer2021', 51186, '01', 'BUAN 5405', 'Python Fundamentals', 25, 13, 12, '2021'),
 (497, 'Summer2021', 51413, '02', 'BUAN 5405', 'Python Fundamentals', 20, 18, 2, '2021'),
 (497, 'Spring2021', 31286, '01', 'BUAN 5405', 'Python Fundamentals', 25, 9, 16, '2021'),
 (501, 'Spring2021', 31287, '01', 'BUAN 6510', 'Databases for Business Analytics', 25, 23, 2, '2021'),
 (501, 'Spring2021', 32404, '02', 'BUAN 6510', 'Databases for Business Analytics', 25, 16, 9, '2021'),
 (910, 'Fall2021', 93000, '01', 'DATA 6500', 'Business Analytics', 25, 24, 1, '2021'),
 (910, 'Fall2021', 93001, '02', 'DATA 6500', 'Business Analytics', 25, 21, 4, '2021'),
 (912, 'Fall2021', 93005, '01', 'DATA 6510', 'Databases for Business Analytics', 20, 7, 13, '2021'),
 (912, 'Fall2021', 93006, '02', 'DATA 6510', 'Databases for Business Analytics', 20, 14, 6, '2021'),
 (907, 'Summer2022', 52425, '01', 'DATA 5405', 'Python Fundamentals', 20, 15, 5, '2022'),
 (907, 'Summer2022', 52604, '02', 'DATA 5405', 'Python Fundamentals', 20, 14, 6, '2022'),
 (907, 'Spring2022', 35691, '01', 'DATA 5405', 'Python Fundamentals', 20, 16, 4, '2022'),
 (912, 'Spring2022', 36053, '01', 'DATA 6510', 'Databases for Business Analytics', 25, 23, 2, '2022'),
 (910, 'Fall2022', 95545, '01', 'DATA 6500', 'Leading with Analytics', 25, 21, 4, '2022'),
 (910, 'Fall2022', 95546, '02', 'DATA 6500', 'Leading with Analytics', 25, 23, 2, '2022'),
 (912, 'Fall2022', 95550, '01', 'DATA 6510', 'Databases for Business Analytics', 20, 17, 3, '2022'),
 (912, 'Fall2022', 95551, '02', 'DATA 6510', 'Databases for Business Analytics', 20, 9, 11, '2022')]

In [20]:
%%sql
-- A check of the COURSE_MEETINGS --> COURSE_OFFERINGS relationship
SELECT Term, CourseOfferingID, Count(CourseMeetingID)
FROM COURSE_OFFERINGS JOIN COURSE_MEETINGS USING (CourseOfferingID)
WHERE CRN=39006 and Term = 'Spring2019'
GROUP BY CourseOfferingID;

 * sqlite:///CourseData.db
Done.

[('Spring2019', 14710, 9)]

In [21]:
%%sql
-- Check the course meetings for a known course offering
SELECT CourseOfferingID, CourseMeetingID, StartDateTime
FROM COURSE_OFFERINGS JOIN COURSE_MEETINGS USING (CourseOfferingID)
WHERE CRN=39006 AND Term="Spring2019"

 * sqlite:///CourseData.db
Done.

[(14710, 262389, '2019-01-29T18:30:00'),
 (14710, 262390, '2019-02-05T18:30:00'),
 (14710, 262391, '2019-02-12T18:30:00'),
 (14710, 262392, '2019-02-26T18:30:00'),
 (14710, 262393, '2019-03-05T18:30:00'),
 (14710, 262394, '2019-03-12T18:30:00'),
 (14710, 262395, '2019-02-02T09:00:00'),
 (14710, 262396, '2019-02-16T09:00:00'),
 (14710, 262397, '2019-03-09T09:00:00')]

## 6. Empty out the `IMPORT_` tables to reclaim storage space

In [23]:
%%sql
-- Drop the tables
DROP TABLE IMPORT_COURSE_OFFERINGS;
DROP TABLE IMPORT_COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.
Done.

[]

In [24]:
%%sql
-- Force SQLite to rebuild the database file to minimize file size
vacuum;

 * sqlite:///CourseData.db
Done.

[]